body {
  background-color: #eaf2ef;
  font-family: "Roboto", sans-serif;
}

a {
  color: #d5cbed;
}

.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: 1px solid #eaf2ef;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #eaf2ef;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}

.search-form-button {
  background-color: #d5cbed;
  padding: 15px 20px;
  border: none;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
  font-size: 16px;
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
}

.weather-app-details strong {
  color: #f3d8c0;
}

.weather-app-temp-container {
  display: flex;
  margin-left: auto;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}

.weather-app-temp-unit {
  display: flex;
  align-items: flex-start;
}

.weather-app-temp {
  font-size: 88px;
  font-weight: bold;
  line-height: 88px;
}

.weather-app-unit {
  font-size: 28px; /* Adjust as needed */
  margin-left: 8px; /* Space between temperature and unit */
  align-self: flex-start; /* Aligns the unit with the top of the temperature */
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-day {
  margin: 0 34px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  font-size: 28px;
  text-align: center;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #f3d8c0;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.weather-forecast-temperature {
  padding: 0 5px;
}

footer {
  border-top: 1px solid #eaf2ef;
  padding: 30px 0 0 30px;
  text-align: center;
  color: #eaf2ef;
}
